* {
  font-family: monospace;
  box-sizing: border-box;
  color: #000;
}
body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
img {
  width: 100%;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
input{
  border: none;
  width: 100%;
  padding: 5px 0;
  outline: "none";
}
input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}