* {
  font-family: monospace;
  box-sizing: border-box;
  color: #000;
}
body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
img {
  width: 100%;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
input {
  border: none;
  width: 100%;
  padding: 5px 0;
  outline: "none";
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: none;
}
button {
  cursor: pointer;
}
select {
  border: none;
  margin: 0;
  padding: 0;
}
textarea,
textarea:focus {
  width: 100%;
  outline: none;
  box-shadow: none;
  border: none;
  resize: vertical;
}
