* {
  font-family: monospace;
  box-sizing: border-box;
  color: #000;
}
body {
  max-width: 700px;
  margin: 0 auto;
}
img {
  width: 100%;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
