* {
  font-family: monospace;
  box-sizing: border-box;
  user-select: none;
  color: #000;
  scroll-behavior: smooth;
}
body {
  max-width: 800px;
  padding: 0px 30px 30px 30px;
  margin: 0 auto;
  padding-bottom: 20vh;
}
img {
  width: 100%;
}
iframe {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}
input {
  border: none;
  width: 100%;
  outline: "none";
  font-size: 16px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: none;
  font-size: 16px;
}
button {
  cursor: pointer;
}
hr {
  border: solid 0.01px #00000010;
}
.postPreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.postPreviewTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: none;
  text-decoration: none;
}
.postPreview span,
.quoteView span {
  white-space: nowrap;
  flex-shrink: 0;
}
.footerDate {
  padding: 0 0 20px;
  color: #00000050;
}
.homeLinksTitle {
  font-size: 30px;
}
.homeLinksLinkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.homeLinksLink {
  text-decoration: none;
  color: #000000;
}
.blogHeaderTitle {
  text-decoration: none;
}
.homeQuote {
  padding-top: 5px;
  color: #00000050;
}
.homeLinksContainer{
  min-height: 50vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* Estilos para secciones por año */
